<a href="https://colab.research.google.com/github/ayeshaagarwal21/GENai/blob/main/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Write a Python program to find the maximum element in a list of numbers without max functions
#numbers = [10, 20, 4, 45, 99]
numbers = [10, 20, 4, 45, 99]
maximum = numbers[0]
for num in numbers:
    if num > maximum:
        maximum = num
print("The maximum number:", maximum)

The maximum number: 99

In [ ]:
#2. Write a Python program to sum all the elements in a list of numbers.
#numbers = [10, 20, 30, 40]
num=[10, 20, 30, 40]
sum=0
for i in num:
  sum += i

print("the sum of all numbers:",sum)

the sum of all numbers: 100

In [ ]:
#3. Write a Python program to reverse a list without reverse or slicing operator
#numbers = [1, 2, 3, 4, 5]
num=[1, 2, 3, 4, 5]
print("original list:",num)
rev_list=[]
for i in num:
  rev_list.insert(0,i)
print("reverse of the list is:",rev_list)

original list: [1, 2, 3, 4, 5]
reverse of the list is: [5, 4, 3, 2, 1]

In [2]:
#4. Write a Python program to sort a list in ascending order without sort functions
numbers = [23, 12, 5, 67, 1, 34]
n=len(numbers)
for i in range(n):
  for j in range(0,n-i-1):
    if(numbers[j]>numbers[j+1]):
      numbers[j],numbers[j+1]=numbers[j+1],numbers[j]
print("sorted list in ascending order",numbers)

sorted list in ascending order [1, 5, 12, 23, 34, 67]

In [ ]:
#5. Write a Python program to remove duplicates from a list while maintaining the order of elements.
#numbers = [1, 2, 2, 3, 4, 4, 5]
num=[1, 2, 2, 3, 4, 4, 5]
print("original list:",num)
unique=[]
for i in num:
  if i not in unique:
    unique.append(i)

print("list after removing duplicate:",unique)

original list: [1, 2, 2, 3, 4, 4, 5]
list after removing duplicate: [1, 2, 3, 4, 5]

In [ ]:
#6. Write a Python program to find all pairs of numbers in a list that add up to a specific target sum.
#numbers = [1, 2, 3, 4, 3, 5, 6] target_sum = 6
numbers=[1,2,3,4,5,6]
for index in range(len(numbers)):
  curr=numbers[index]

  for index2 in range(index+1,len(numbers)):
    next=numbers[index2]
    if(curr+next==6):
      print("two elements that add upto 6 are:",curr,next)

two elements that add upto 6 are: 1 5
two elements that add upto 6 are: 2 4

In [ ]:
#7. Write a Python program to flatten a nested list (list within lists) into a single list.
#nested_list = [1, [2, 3], [4, [5, 6], 7], 8]
nested_list = [1, [2, 3], [4, [5, 6], 7], 8]
flat_list = []
for item in nested_list:
    if type(item) == list:
        for subitem in item:
            if type(subitem) == list:
                for val in subitem:
                    flat_list.append(val)
            else:
                flat_list.append(subitem)
    else:
        flat_list.append(item)

print("nested list:",nested_list)
print("flattened list:", flat_list)

nested list: [1, [2, 3], [4, [5, 6], 7], 8]
flattened list: [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#8. Write a Python program to find the sum of the elements in a list, excluding the largest and smallest element. Donâ€™t use max or min functions
#numbers = [1, 2, 3, 4, 5]
num=[1, 2, 3, 4, 5]
smallest=largest=num[0]
total=0
for i in num:
  total+=i
  if(i<smallest):
    smallest=i
  elif(i>largest):
    largest=i

print("sum excluding largest and smallest:",total-smallest-largest)

sum excluding largest and smallest: 9

In [ ]:
#9. Write a Python program to check if a list is a palindrome (reads the same backward as forward) using two pointer approach
#numbers = [1, 2, 3, 2, 1]
num=[1,2,3,2,1]
i=0
j=len(num)-1
while(i<j):
  if(num[i]!=num[j]):
    print("the list is not palindrome")
    break
    i+=1
    j-=1
  else:
    print("the list is palindrome")
    break

the list is palindrome

In [ ]:
#Write a function to remove duplicate elements from a list.
#numbers = [1, 2, 3, 2, 4, 5, 1, 6]
def duplicate():
  num=[1, 2, 2, 3, 4, 4, 5]
  print("original list:",num)
  unique=[]
  for i in num:
    if i not in unique:
      unique.append(i)

  print("list after removing duplicate:",unique)
duplicate()

original list: [1, 2, 2, 3, 4, 4, 5]
list after removing duplicate: [1, 2, 3, 4, 5]

In [ ]:
#11. Find Common Elements in Two Lists
#a. list1 = [1, 2, 3, 4, 5]
#b. list2 = [3, 4, 5, 6, 7]
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
for i in list1:
  if i in list2:
    print("common elements are:",i)

common elements are: 3
common elements are: 4
common elements are: 5

In [ ]:
#12. Find the Longest Word in a List
#words = ["apple", "banana", "strawberry", "kiwi"]
words = ["apple", "banana", "strawberry", "kiwi"]
longest=words[0]
for word in words:
  if len(word)>len(longest):
    longest=word

print("longest word is:",longest)

longest word is: strawberry

In [ ]:
#13. Find Missing Number in a List
num=[1,2,4,5]
num.sort()
for i in range(1,len(num)+1):
  if i not in num:
    print("missing number",i)

missing number 3

In [ ]:
#14. Find the First Non-Repeating Element
#Given a list of integers, find the first element that appears only once.
#numbers = [4, 5, 1, 2, 0, 4, 5, 2]
numbers = [4, 5, 1, 2, 0, 4, 5, 2]
for i in numbers:
  if(numbers.count(i)==1):
    print("number that only appears once:",i)
    break

number that only appears once: 1

In [ ]:
#15. Move All Zeros to the End
#Given a list of integers, move all zeros to the end while maintaining the relative order of non-zero elements. Donâ€™t use any inbuilt functions
#a. numbers = [0, 1, 0, 3, 12]
numbers = [0, 1, 0, 3, 12]
list1=[]
list2=[]
for i in numbers:
  if(i==0):
    list1.append(i)
  else:
    list2.append(i)
print("final list:",list2+list1)

final list: [1, 3, 12, 0, 0]

In [ ]:
#16. Find Elements Greater Than Their Left Neighbor
#numbers = [1, 3, 2, 6, 5, 8, 7]
numbers = [1, 3, 2, 6, 5, 8, 7]
for i in range(1,len(numbers)):
  if(numbers[i]>numbers[i-1]):
   print(f"{numbers[i]} is greater than {numbers[i-1]}")

3 is greater than 1
6 is greater than 2
8 is greater than 5

In [ ]:
#17. Find Triplets That Sum to Zero
#Given a list of numbers, find all unique triplets (a, b, c) such that a + b + c = 0.
mylist=[1,2,3,3,4,5]
for index in range(0,6):
  curr=mylist[index]

  for index2 in range(index+1,6):
    next=mylist[index2]

    for index3 in range(index2+1,6):
      next1=mylist[index3]
      if(curr + next + next1 ==6):
         print("three element is:",curr,next,next1)
         break

three element is: 1 2 3